/* media queries */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  section.hero .container div.rocket-img img {
    max-width: 240px;
    height: 219px;
    margin-top: -70px;
  }
  section.hero .container div.hero-img div.icon img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 630px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
  }

  .hero .container div.rocket-img {
    order: -1;
  }
  /*  .hero .container div img {
    border-radius: 100px;
    max-width: 2rem;
    max-height: 2rem;
    margin: 5px 5px 0 0;
  } */

  .form-group {
    display: block;
  }
}

@media (max-width: 540px) {
  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: $primary-color;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }
  section.hero .container div.hero-img img {
    border-radius: 100px;
    max-width: 45px;
    max-height: 45px;
    margin: 5px 5px 0 0;
  }
  section.hero .container div.rocket-img img {
    max-width: 245px;
    height: 219px;
  }
  section.hero .container div.hero-img div.icon img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 320px) {
  #form h3 {
    font-size: 2rem;
  }
  section.hero .container div.hero-img div.icon {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  section.hero .container div.hero-img div.icon {
    img {
      max-width: 20px;
      max-height: 20px;
    }
  }
  section.hero .container div.hero-img img {
    border-radius: 100px;
    max-width: 45px;
    max-height: 45px;
    margin: 5px 5px 0 0;
  }
}
